body{
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/***
    Tela carrinho
*/
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.card {
    flex: 1;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.card-body {
    padding: 10px;
}

.search-card {
    margin-top: 20px;
}

.search-input {
    position: relative;
}

.search-input input {
    width: 100%;
    padding-right: 40px;
}

.search-input .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;

}

.cart-table th, .cart-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.cart-table th {
    background-color: #f8f9fa;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.fixed-height-card {
    height: 250px; /* Ajuste o valor conforme necessário */

}

/* Custom styles for jQuery UI Autocomplete */
.ui-autocomplete {
    background-color: #fff;
    border: 1px solid #ced4da;
    max-height: 200px;
    overflow-y: auto;
    /* Prevent horizontal scrollbar */
    overflow-x: hidden;
    /* Padding and font styles */
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1051; /* Ensure it is above other elements */
}
.ui-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}
.ui-menu-item:hover {
    background-color: #f8f9fa;
    color: #000;
}
.ui-menu-item-wrapper.ui-state-active {
    background-color: #007bff;
    color: #fff;
}
